.suppress-show {
    display: revert !important;
}

div.vectorMenu li.suppress-show {
    order: 1001;
}

.vectorMenu .suppress-show::before {
    content: " ";
    display: block;
    height: 1px;
    color: #a2a9b1;
    background-color: #a2a9b1;
    border: 0;
    margin: 7px;
}

.vectorMenu .suppress-show ~ .suppress-show::before {
    display: none;
}

.vectorMenu .suppress-show {
    cursor: default;
}

.vectorMenu .suppress-show ~ .suppress-show,
.vectorMenu .suppress-show a {
    cursor: pointer;
}
