.checkuser-show {
    display: revert !important;
}

div.vectorMenu li.checkuser-show {
    order: 1000;
}

.vectorMenu .checkuser-show::before {
    content: " ";
    display: block;
    height: 1px;
    color: #a2a9b1;
    background-color: #a2a9b1;
    border: 0;
    margin: 7px;
}

.vectorMenu .checkuser-show ~ .checkuser-show::before {
    display: none;
}

.vectorMenu .checkuser-show {
    cursor: default;
}

.vectorMenu .checkuser-show ~ .checkuser-show,
.vectorMenu .checkuser-show a {
    cursor: pointer;
}
